import java.util.*;
public class qr{
    public static void main(String[] args){
        Scanner in = new Scanner(System.in);
        int a = in.nextInt();
        int maxs = 0;
        String maxn = "";
        int secplace = 0;
        String secname = "";
        for (int i = 0; i < a; i++){
            String name = in.next();
            int score = in.nextInt();
            if(score > maxs && maxs > secplase){
                secplase = maxs;
                secname = name;
                maxs = score;
                maxn = name;
            }else if(score < maxs && score > secplace){
                secplace = score;
                secname = name;
            }
        }
        System.out.println("The highest score is " + maxs + " , " + maxn);
        System.out.println("The second score is " + secplace + " , " + secnme);
    }
}
